@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: 'Poppins';
    
    position: relative;
}

body::before{
    margin: 0 0 var(--header-height) 0;
    height: 100vh;
    content: "";
    background-image: url("../static/img/imagem_soja_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.66;
    z-index: -1;
}

/*nav bar*/
.header{
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: .5%;
    font-family: 'Poppins';
}

.nav{
    display: flex;
    justify-content: flex-end;
    width: 15%;
    align-items: center;
    flex-basis: 10%;
    gap: 3%;
}

.titulo{
    display: flex;
    justify-content: center;
    color: white;
    flex-basis: 90%;
    margin-left: 25vh;
}

.logout{
    color: #FFFFFF;
    text-decoration: none;
    border: white solid 2px;
    border-radius: 10px;
    padding: 1%;
    transition: .3s ease-out;
}
.logout:hover{
    color: white;
    background-color: red;
    text-decoration: none;
    border: red solid;
    border-radius: 10px;
}

.algoritmo{
    color: #FFFFFF;
    text-decoration: none;
    border: #FFFFFF solid 2px;
    border-radius: 10px;
    padding: 1%;
    transition: .3s ease-out;
}

.algoritmo:hover{
    color: white;
    background-color: rgb(7, 173, 40);
    text-decoration: none;
    border: rgb(7, 173, 40) solid;
    border-radius: 10px;
}



#tabela{
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: solid 3px rgb(152, 152, 152);
    border-radius: 5px;
    text-align: center; 
    padding: 1px;
    width: 50%;
}

#tabela tr:nth-child(even) {
    background-color: rgb(240, 240, 240); 
}

#tabela tr:nth-child(odd) {
    background-color: rgb(200, 200, 200);
}

.id_usuario{
    border: solid 2px rgb(152, 152, 152);
    border-radius: 5px;
    text-align: center; 
    padding: 1px;
    width: 0.5%;
}

.info_usuario{
    border: solid 2px rgb(152, 152, 152);
    border-radius: 5px;
    text-align: center; 
    padding: 1px;
    width: 5%;
}

.historico_usuario{
    display: flex;
    justify-content: center;
    padding: 1% 5% 1% 5%
}

.acoes{
    border: solid 2px rgb(123, 123, 123);
    border-radius: 5px ;
    padding: 1%;
    gap: 5%;
    display: flex;
    justify-content: center;
}

.visualizar{
    background-color: rgb(81, 81, 236);
    color: white;
    text-decoration: none;
    border: solid 2px rgb(81, 81, 236);
    border-radius: 10px;
    padding: 1%;
    transition: .3s ease-out;
}

.visualizar:hover{
    color: black;
    text-decoration: none;
    border: solid 2px rgb(60, 60, 220);
    background-color: rgb(60, 60, 220);
    border-radius: 10px;
    padding: 1%;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    transition: .3s ease-out;
}

.pagination a:hover {
    background-color: #0056b3;
}